@charset "utf-8";

/*variables for sass file*/
$primary-color: #28bdb3;
$primary-font: Arial, Verdana, Helvetica;
$primary-fontsize: 15px;
$primary-fontcolour: #818181;

/*sets no margin and padding for overall page*/
body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: $primary-fontsize;
  color: $primary-fontcolour;
}

/*style for logo colour*/
#logoamazing {
  color: $primary-color;
}
/*navbar styling*/
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;

}
/*Logo styling*/
#logo {
  font-size: 50px;
  font-family: $primary-font;
  margin: {
    top: 10px;
    bottom: 10px;
  }
  color: $primary-fontcolour;
}
/*Styling for gridlayout*/
.wrapper{
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.wrapper:after {
  content: '';
  display: table;
  clear: both;
}
.column {
  float: left;
  box-sizing: border-box;
  margin: 4px;
}
/* For Desktop*/
.large-1 {
  width: 8.666%;
}
.large-2 {
  width: 16.666%;
}
.large-3 {
  width: 25%;
}
.large-4 {
  width: 33.5%;
}
.large-5 {
  width: 41.666%;
}
.large-6 {
  width: 50%;
}
.large-7 {
  width: 58.333%;
}
.large-8 {
  width: 63.5%;
}
.large-9 {
  width: 75%;
}
.large-10 {
  width: 83.333%;
}
.large-11 {
  width: 91.666%;
}
.large-12 {
  width: 95%;
}
/*end of grid layout styling*/

/*styling for the three links at top of the page*/
ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin-top: 5px;

}
li {
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
/*heading one styling*/
h1 {
  margin: 0;
  padding: 0;
}
/*show which option is selected*/
#selected {
  color: $primary-color;
  font-weight: bold;
}
#submitorder {
  float: right;
  background-color: #e7b522;
  color: white;
  border: #e7b522 solid 2px;
  font-weight: bold;
  text-align: center;
  font-size: $primary-fontsize;
  font-family: $primary-font;
  width: 100px;
  margin: {
    top: 5px;
    right: 15px;
    bottom: 50px;
  }
  padding: 10px;
  box-shadow: none;
  border-radius: 5px;
}
#submitorder:hover {
  background-color: $primary-color;
  color: white;
  border-color: $primary-color;
}

@media screen and (min-width: 706px) {
  /*arrow on selected option*/
  #arrow-down {
    margin: {
      top: 50px;
      left: 510px;
    }
    padding: {
      left: 0;
    }
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $primary-color;
  }
}
table {
  font-family: $primary-font;
  border-collapse: collapse;
  margin-top: 20px;
}

td, th {
  border: 3px solid $primary-color;
  text-align: left;
  padding: 20px;
}
table {
 padding-bottom: 20px;
}
th {
  background-color: $primary-color;
  color: white;
}
.cardmethods {
  margin: {
    right: 10px;
    top: 30px;
  }
}
.inputfields {
  padding: 10px;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: none;
  margin: {
    right: 10px;
    bottom: 5px;
    top: 5px
  }
}
.textbox {
  width: 200px;
}
.paymentaddress {

  margin-bottom: 20px;
}
#backtocart {
  margin-top: 30px;
  color: $primary-color;
  font-weight: bold;
  float: right;
}
#paymentform {
  width: 600px;
}
.radiobuttons {
  margin: {
    right: 10px;
    top: 10px;
  }
}
.formbuttons {
  font-weight: bold;
  text-align: center;
  font-size: $primary-fontsize;
  font-family: $primary-font;
  background-color: transparent;
  width: 100px;
  border: $primary-color solid 2px;
  margin: {
    top: 5px;
  }
  padding: 10px;
  box-shadow: none;
  border-radius: 5px;
  color: $primary-color;
}
.formbuttons:hover {
  background-color: $primary-color;
  color: white;
}

.price {
  float: right;
}
td > span:nth-child(1) {
  color: black;
}
#requiredfieldtext {
  font-size: $primary-fontsize;
  float: right;
  font-family: $primary-font;
}
#creditcardform {
  margin-top: 70px;
}
.dropdown {
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  width: 230px;
  height: 30px;
  margin-bottom: 10px;
  font-size: 10px;
  background-color: $primary-color;
}
.cursorhand {
  cursor: pointer;
}
#creditcardform {
  display: none;
}
#appendEnterAddress {
  display: none;
}
#findpostcode {
  display: none;
}
#paypalform {
  display: none;
}
#alipayform {
  display: none;
}
#appendFindAddress {
  display: none;
}
#enteraddressmanually {
  display: none;
}
#creditcardtypes {
  margin-bottom: 10px;
  float: right;
}
.paymentbuttons {
  font-weight: bold;
  text-align: center;
  font-size: $primary-fontsize;
  font-family: $primary-font;
  background-color: $primary-fontcolour;
  width: 100px;
  border: $primary-fontcolour solid 2px;
  margin: {
    top: 10px;
    bottom: 50px;
  }
  padding: 10px;
  box-shadow: none;
  border-radius: 5px;
  color: white;
}
.paymentbuttons:hover {
  background-color: $primary-color;
  color: white;
  border-color: $primary-color;
}
@media screen and (max-width: 705px) {
  [class*="large-"] {
    width: 100%;
  }
  #requiredfieldtext {
    float: left;
  }
  #creditcardtypes {
    float: left;
  }
  li {
    display: block;
  }
  #navbar {
    background-color: black;
  }
  #logo {
    color: #d2d2d2;
  }
  .small-hidden {
    display: none;
  }
  .paymentbuttons {
    background-color: black;
    border-color: black ;
  }
  #backtocart {
    margin-top: 10px;
  }
  #submitorder {
    float: none;
  }
  th {
    background-color: #aaaaaa;
    border-color: #aaaaaa;
  }
  td, th {
    border-color: #aaaaaa;
  }
}
@media screen and (max-width:915px)  {
  .large-5 {
    width: 100%;
  }
}
@media screen and (max-width:925px)  {
  #arrow-down {
    margin-left: 490px;
  }
}
@media screen and (max-width:881px)  {
  #arrow-down {
    margin-left: 460px;
  }
}
@media screen and (max-width:825px)  {
  #arrow-down {
    margin-left: 440px;
  }
}
@media screen and (max-width:770px)  {
  #arrow-down {
    margin-left: 415px;
  }
}
@media screen and (max-width:741px)  {
  #arrow-down {
    margin-left: 400px;
  }
}
#deliveryaddress {
  text-align: center;
}
.alternativepayment {
  font-size: 15px;
  text-align: center;
  border: 2px solid #e7b522;
  color: #e7b522;
  font-weight: bold;
}
#footertext {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: black;
}
#footertext > .wrapper > a {
  color: white;
}
#footertext > .wrapper > a:hover {
  color: #dddddd;
  cursor: pointer;
}
footer > .wrapper > a > img {
  padding: 7px 10px 2px 13px;
}
#ordertotal {
  font-size: 20px;
  color: black;
}
#saved {
  display: none;
  margin: 5px;
}