@charset "utf-8";

/*variables for sass file*/
$primary-color: #28bdb3;
$primary-font: Arial, Verdana, Helvetica;
$primary-fontsize: 15px;
$primary-fontcolour: #818181;
$submitordercolour: #e7b522;

/*sets no margin and padding for overall page*/
body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: $primary-fontsize;
  color: $primary-fontcolour;
}

/*style for logo colour*/
#logoamazing {
  color: $primary-color;
}
/*navbar styling*/
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;

}
/*Logo styling*/
#logo {
  font-size: 50px;
  font-family: $primary-font;
  margin: {
    top: 10px;
    bottom: 10px;
  }
  color: $primary-fontcolour;
}
/*wrap content up in a wrapper to keep them inline*/
.wrapper{
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
/*what to do after for content that has the wrapper class*/
.wrapper:after {
  content: '';
  display: table;
  clear: both;
}
/*each individual column in the wrapper keeping the content left and using padding to space them out*/
.column {
  float: left;
  box-sizing: border-box;
  margin: 4px;
}
/*Grid layout For Desktop*/
.large-1 {
  width: 8.666%;
}
.large-2 {
  width: 16.666%;
}
.large-3 {
  width: 25%;
}
.large-4 {
  width: 33.5%;
}
.large-5 {
  width: 41.666%;
}
.large-6 {
  width: 50%;
}
.large-7 {
  width: 58.333%;
}
.large-8 {
  width: 63.5%;
}
.large-9 {
  width: 75%;
}
.large-10 {
  width: 83.333%;
}
.large-11 {
  width: 91.666%;
}
.large-12 {
  width: 95%;
}
/*end of grid layout for desktop*/

/*styling the stage list*/
ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin-top: 5px;

}
li {
  margin: {
    right: 10px;
  }
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/*set 0 margin and padding for the h1 tag*/
h1 {
  margin: 0;
  padding: 0;
}
/*show which option is selected for the list in the order stage*/
#selected {
  color: $primary-color;
  font: {
    weight: bold;
  }
}

//styling for the submit button
#submitorder {
  float: right;
  background-color: $submitordercolour;
  color: white;
  border: $submitordercolour solid 2px;
  font-weight: bold;
  text-align: center;
  font-size: $primary-fontsize;
  font-family: $primary-font;
  width: 100px;
  margin: {
    top: 5px;
    right: 15px;
    bottom: 50px;
  }
  padding: 10px;
  box-shadow: none;
  border: {
    radius: 5px;
  }
}
//change button colour when mouse hovers over it
#submitorder:hover {
  background-color: $primary-color;
  color: white;
  border-color: $primary-color;
}

//only display the arrow on screens above 706 pixels
@media screen and (min-width: 706px) {
  /*arrow on selected option*/
  #arrow-down {
    margin: {
      top: 50px;
      left: 510px;
    }
    padding: {
      left: 0;
    }
    border: {
      left: 10px solid transparent;
      right: 10px solid transparent;
      top: 10px solid $primary-color;
    }
  }
}

//table customisation on the website
table {
  font: {
    family: $primary-font;
  }
  border: {
    collapse: collapse;
  }
  margin: {
    top: 20px;
  }
  padding: {
    bottom: 20px;
  };
}

td, th {
  border: 3px solid $primary-color;
  text-align: left;
  padding: 20px;
}
td > span:nth-child(1) {
  color: black;
}
th {
  background: {
    color: $primary-color;
  }
  color: white;
}
//end of table customisation

//adding margin to the radio buttons in the payment method form
.cardmethods {
  margin: {
    right: 10px;
    top: 30px;
  }
}

//styling for all the inputfields on the website
.inputfields {
  padding: 10px;
  border: {
    width: 2px;
    radius: 5px;
  }
  box-shadow: none;
  margin: {
    right: 10px;
    bottom: 5px;
    top: 5px
  }
}

//the width of all the textfields where users can type in
.textbox {
  width: 200px;
}

//styling for the back to cart link at the top of the header bar
#backtocart {
  margin: {
    top: 30px;
  }
  color: $primary-color;
  font: {
    weight: bold;
  }
  float: right;
}

//the width of the payment form table
#paymentform {
  width: 600px;
}
//setting margin for all the radio buttons
.radiobuttons {
  margin: {
    right: 10px;
    top: 10px;
  }
}

//the styling for all the form buttons apart from the submit button
.formbuttons {
  font: {
    weight: bold;
    size: $primary-fontsize;
    family: $primary-font;
  }
  text-align: center;
  background: {
    color: transparent;
  }
  width: 100px;
  border: $primary-color solid 2px;
  border: {
    radius: 5px;
  }
  margin: {
    top: 5px;
  }
  padding: 10px;
  box-shadow: none;
  color: $primary-color;
}
//changing the colours when the buttons get hovered over
.formbuttons:hover {
  background-color: $primary-color;
  color: white;
}

//float all the prices in the order summary to the right
.price {
  float: right;
}

//setting the font and floating the requiredtext right
.requiredfieldtext {
  font: {
    size: $primary-fontsize;
    family: $primary-font;
  }
  float: right;
}
//giving the creditcard form margin at the top of the form
#creditcardform {
  margin: {
    top: 70px;
  }
}

//stying for all dropdowns on the website
.dropdown {
  border: 0;
  border: {
    radius: 5px;
  }
  box-shadow: none;
  width: 230px;
  height: 30px;
  margin: {
    bottom: 10px;
  }
  font: {
    size: 10px;
  }
  background: {
    color: $primary-color;
  }
}

//displays a hand cursor when users hover over it
.cursorhand {
  cursor: pointer;
}

//make all the following invisible at the start up of the website
#creditcardform {
  display: none;
}
#appendEnterAddress {
  display: none;
}
#findpostcode {
  display: none;
}
#paypalform {
  display: none;
}
#alipayform {
  display: none;
}
#appendFindAddress {
  display: none;
}
#enteraddressmanually {
  display: none;
}
//end of invisible content

//floating and adding margin to the creditcardtypes image
#creditcardtypes {
  margin: {
    bottom: 10px;
  }
  float: right;
}

//the payment radio buttons (creditcard, paypal, alipay) styling
.paymentbuttons {
  font-weight: bold;
  text-align: center;
  font-size: $primary-fontsize;
  font-family: $primary-font;
  background-color: $primary-fontcolour;
  width: 100px;
  border: $primary-fontcolour solid 2px;
  margin: {
    top: 10px;
    bottom: 50px;
  }
  padding: 10px;
  box-shadow: none;
  border-radius: 5px;
  color: white;
}

//the payment radio buttons on hover
.paymentbuttons:hover {
  background: {
    color: $primary-color;
  }
  color: white;
  border: {
    color: $primary-color;
  }
}


@media screen and (max-width: 705px) {
  //set all classes with large-* to width 100% on devices up to 705 pixels
  [class*="large-"] {
    width: 100%;
  }
  //move required text and creditcardtype image to the left
  #requiredfieldtext {
    float: left;
  }
  #creditcardtypes {
    float: left;
  }
  //make the order stage list in a downwards order
  li {
    display: block;
  }
  //make header bar black
  #navbar {
    background: {
      color: black;
    }
  }
  //make the amazing in lookamazing slighter darker
  #logo {
    color: #d2d2d2;
  }
  //display all elements as invisible under 705 pixels
  .small-hidden {
    display: none;
  }

  //change the payment radio buttons to black
  .paymentbuttons {
    background: {
      color: black;
    }
    border: {
      color: black ;
    }
  }
  //add some margint to the back to cart link
  #backtocart {
    margin: {
      top: 10px;
    }
  }

  //float the submit button to the middle
  #submitorder {
    float: none;
  }
  //change the table colour to grey
  th {
    background: {
      color: #aaaaaa;
    }
    border: {
      color: #aaaaaa;
    }
  }
  td, th {
    border: {
      color: #aaaaaa;
    }
  }
}

//
@media screen and (max-width:915px)  {
  //make the inputfields with a width of 5 change to a width of 12 under 915 pixels
  .large-5 {
    width: 100%;
  }
}
//move the green arrow along so it is always on top of the right part in the order stage list then evetually disappear
@media screen and (max-width:925px)  {
  #arrow-down {
    margin: {
      left: 490px;
    }
  }
}
@media screen and (max-width:881px)  {
  #arrow-down {
    margin: {
      left: 460px;
    }
  }
}
@media screen and (max-width:825px)  {
  #arrow-down {
    margin: {
      left: 440px;
    }
  }
}
@media screen and (max-width:770px)  {
  #arrow-down {
    margin: {
      left: 415px;
    }
  }
}
@media screen and (max-width:741px)  {
  #arrow-down {
    margin: {
      left: 400px;
    }
  }
}

//center the delivery address
#deliveryaddress {
  text-align: center;
}

//the message if paypal or alipay is choosen
.alternativepayment {
  text-align: center;
  border: 2px solid #e7b522;
  color: #e7b522;
  font: {
    weight: bold;
    size: 15px;
  }
}

//footer styling
#footertext {
  font: {
    size: 12px;
  }
  padding: {
    top: 20px;
    bottom: 20px;
  }
  color: white;
  background: {
    color: black;
  }
}
#footertext > .wrapper > a {
  color: white;
}
#footertext > .wrapper > a:hover {
  color: #dddddd;
  cursor: pointer;
}
footer > .wrapper > a > img {
  padding: 7px 10px 2px 13px;
}
//end of footer styling

//color and font size of the order total text
#ordertotal {
  font: {
    size: 20px;
  }
  color: black;
}

//make the saved button invisible until clicked
#saved {
  display: none;
  margin: 5px;
}